.legalLinksContainer {
  margin-top: 8px;
  color: #999999;
}

.legalLinksContainer a {
  text-decoration: underline;
  color: #999999;
  font-weight: bold;
}

.buttonContainer {
  margin-top: 64px;
}
