.root {
  margin-top: 64px;
}

.root a {
  color: #cccccc;
}

.root h1 {
  margin-left: 16px;
}

.root form {
  margin-top: 48px;
}

.legalLinksContainer {
  margin-top: 8px;
  color: #999999;
  font-size: 13px;
}

.legalLinksContainer a {
  color: #999999;
}

.buttonContainer {
  margin-top: 32px;
}

.usernameContainer {
  display: flex;
  align-items: flex-end;
  height: 65px;
  margin-bottom: 16px;
}

.avatarContainer {
  position: relative;
  min-width: 65px;
  min-height: 65px;
}

.avatar {
  border-radius: 50%;
}

@media (max-width: 480px) {
  .avatarContainer {
    min-width: 45px;
    min-height: 45px;
  }
}
