.button {
  border-radius: 999px;
  height: 53px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: black;
  padding: 16px 48px;
}

@media (max-width: 480px) {
  .button {
    width: 100%;
  }
}
