.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main > * {
  max-width: 594px;
  margin: 0 6rem;
}

@media (max-width: 768px) {
  .main > * {
    max-width: 263px;
    margin: 2rem;
  }
}
