.container {
  padding: 0 6rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .main {
    max-width: 263px;
    padding: 2rem 0;
  }
}
