.root {
  max-width: 388px;
}

.root form {
  margin-top: 64px;
  display: flex;
  align-items: flex-end;
}

.root button {
  margin-top: 19px;
  margin-left: 16px;
}

.githubRibbon {
  position: fixed;
  top: 0;
  right: 0;
}

@media (max-width: 480px) {
  .root form {
    display: block;
  }

  .root button {
    margin-left: 0;
  }
}
