.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 594px;
}

.bgImage {
  height: 600px;
  z-index: 0;
}

@media (max-width: 768px) {
  .root {
    max-width: 263px;
  }
}
