.root {
  position: relative;
}

.svgBorderContainer {
  position: absolute;
}

.svgBorderContainer rect {
  animation-name: dash;
  animation-timing-function: linear;
  animation-direction: normal;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.qrCodeContainer {
  box-sizing: border-box;
  width: 240px;
  height: 240px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
